#button {
  text-align:right; 
}

img {
  height: 25px;
}
.advanced_Search_Container{
  color:#d93025;
  font-size:20px;
  margin:25px 35px
}

.formContainer{
  max-width:1140px;
  min-width:200px;
  width:96%;
  margin:40px 2% 0 45px
}
 
.field_Section{
  clear:both
}
 
.labels_Container {
  float:left;
  min-width:167px;
  width:16%;
  height:42px;
  color:#222;
  font-size:13px;
  line-height:16px;
  
}

.input_Fields_Container{
  display:inline-block;
  min-width:167px;
  min-height:41px;
  vertical-align:middle;
  width:50%
}
 
.label_and_input_Fields_Container{
  clear:both;
  font-size:13px;
  line-height:16px;
  height:20px;
  text-align:left
}
 
.advancedSearchButton{
  background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed); /*Blue backgroud color of ther button*/
  height:30px;/*Height of the button*/
  min-width:120px; /*WIdth of the button*/
  cursor: pointer; 
  border-radius: 2.5px; 
  color: white;
  border: none;
}

.input_field{ 
  height:25px;
  width:100%;
  text-align:left;
}